<h2>{{classname.title}}</h2>
<p>
    <strong>Instructor:</strong> {{classname.instructor}}
</p>
<p>
    {{classname.description}}
</p>
<ul class="alt">
    {{#each classname.lessons}}
    <li>{{lesson_title}}</li>
    {{/each}}
</ul>

{{#if user}}
    <form action="/students/classes/register" id="classRegForm" method="post">
        <input type="hidden" name="student_id" value="{{user._id}}">
        <input type="hidden" name="class_id" value="{{class._id}}">
        <input type="hidden" name="class_title" value="{{classname.title}}">
        <input type="submit" class="button" value="Register For This Class">
    </form>
    {{else}}
    <p>You must be logged in to register for this class</p>
{{/if}}